// -------------------------
// Base
// -------------------------

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: 'Rubik Regular';
}

img {
	max-width: 100%;
}
