// -------------------------
// Fonts
// -------------------------

@font-face {
    font-family: 'Rubik Regular';
	src: url("/assets/fonts/Rubik-Regular.woff") format('woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: 'Rubik Medium';
	src: url("/assets/fonts/Rubik-Medium.woff") format('woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: 'Rubik Bold';
	src: url("/assets/fonts/Rubik-Bold.woff") format('woff');
	font-style: normal;
	font-weight: normal;
}


