include /includes/mixins/logo
include /includes/mixins/icon

ul.menu
	li.item
		+logo("#fff")
	li.item
		a(href="/") Home
	li.item
		a(href="#") Products
	li.item
		a(href="#") Contact
	li.item
		a(href="#") 
			+icon('cart')