div.parallax-container
    div.parallax
        div.image
        div.content
            h1.title
                | Collection 2016
            p.description
                | Some cool text here about the new collection of
                br
                | design furniture 2016
            button.btn-primary
                | Buy now