section#products
    section.section-container
        h3.title New Armchairs
        div.products-carousel(data-id="armchairs-carousel")
            
    section.section-container
        h3.title Best of 2016
        
        div.products-carousel(data-id="bestof-carousel")
            
            