include /includes/mixins/checkbox

section.section-container#products-filters
    div.filter-group
        span.category Type:
        +checkbox('Armchairs', 'armchair', {'type': 'FILTER_CHAIRTYPE', 'chairType': 'armchair'})
        +checkbox('Chairs', 'chair', {'type': 'FILTER_CHAIRTYPE', 'chairType': 'chair'})
        
    div.filter-group
        span.category Material:
        +checkbox('Wood', 'wood', {'type': 'FILTER_MATERIAL', 'material': 'wood'})
        +checkbox('Foam', 'foam', {'type': 'FILTER_MATERIAL', 'material': 'foam'})
    
    button.btn-secondary(data-action='{"type": "RESET_FILTERS"}') See all products