// -------------------------
// Variables
// -------------------------

// Font size
base-font-size   = 16px;
medium-font-size = 8.5px;
small-font-size  = 7.5px;

// Colors
dark-color       = #000;
light-color      = #fff;
heading-color    = #666;
content-color    = #777;
link-color       = #999;
featured-color   = dark-color;

// Themes
themes = {
  primary-color    : #542d4c,
  secondary-color  : #70d6b8,
  tertiary-color   : #e03a6a,
  quaternary-color : light-color
}

// Box Model
container-width  = 1200px;
base-space       = 10px;
double-space     = (base-space * 2);
triple-space      = (10px * 3);

// Backgrounds
bgColor = {
  primary: #f7f7f7,
  secondary: themes.primary-color
}