block vars
	- var page;

doctype html
html(lang="en")
	head
		title #{pages[page].title}
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		
		block metatags
			include /includes/commons/metatags

		block styles
			include /includes/commons/styles
			
		block head
		
	body
		include /includes/commons/svgs
	
		block header
			include /includes/containers/main-header
			
		main.main
			block content
		
		block footer
			include /includes/containers/main-footer
			
		block scripts
			include /includes/commons/scripts
