<!-- Metatags -->
meta(name="language" content="pt-br")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(charset="utf-8")
meta(name="contact" content="vs.buchalla@gmail.com")
meta(name="author" content="Victor Schulze Buchalla")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content=pages[page].description)
meta(name="keywords" content=pages[page].keywords)
meta(name="robots" content="index, follow")
meta(itemprop="description" content=pages[page].description)
meta(name="theme-color" content="#542d4c")
link(rel="icon" type="image/x-icon" href="/assets/fav.ico")
link(rel="canonical" href="")
