svg(xmlns="http://www.w3.org/2000/svg" style="display: none;")
    symbol(id="logo" viewbox="0 0 60 60")
        circle(cx="30" cy="30" r="20" stroke-width="11" fill="none")
    svg(xmlns='http://www.w3.org/2000/svg', id='cart', viewbox='0 0 139 139')
        style(type='text/css').
            .st0{fill:none;stroke:currentColor;stroke-width:6;stroke-miterlimit:10;}
            .st1{display:none;fill:none;stroke:currentColor;stroke-width:6;stroke-miterlimit:10;}
        polyline#XMLID_12_.st0(points='11.6,28 36,28 53.4,97.1 ')
        circle#XMLID_13_.st0(cx='56.4', cy='106.9', r='11.6')
        circle#XMLID_15_.st0(cx='112', cy='106.9', r='11.6')
        line#XMLID_16_.st0(x1='67.4', x2='101', y1='103.2', y2='103.2')
        polyline#XMLID_17_.st0(points='50.3,85 112,85 125.6,41.6 39.4,41.6 ')
        line#XMLID_18_.st1(x1='82.5', x2='82.5', y1='85', y2='41.6')
        line#XMLID_24_.st1(x1='97.3', x2='104.1', y1='85', y2='41.6')
        line#XMLID_25_.st1(x1='67.4', x2='60.6', y1='85', y2='41.6')