// -------------------------
// About Us - Layout
// -------------------------

#about-us {

    & {
        background-image: url('/assets/images/background-logo.png');
        background-position: 0 70px;
        background-repeat: no-repeat;
        color: light-color;
        padding-bottom: 0;
    }
    
    > .title {
        @extends $titleRegular;
        font-size: responsive 20px 25px;
        margin-bottom: 60px;
        text-align: center;
    }
    
    > .title > .underline {
        position: relative;
        
        &:before {
            background-color: themes.tertiary-color;
            content: "";
            height: 10px;
            position: absolute auto 5px -25px 5px;
        }
    }
    
    > .content {
        font-size: responsive 14px 20px;
        line-height: 1.4;
        margin: 0 auto;
        max-width: 950px;
        padding: 0 20px;
        text-align: justify;
        text-align-last: center;
    }
    
    > .pink-couch {
        display: block;
        margin: 60px auto 0;
    }
}