// -------------------------
// Container - Layout
// -------------------------

.section-container {
	& {
		margin: 0 auto;
		max-width: container-width;
		padding: triple-space double-space;
	}
}

.background-primary {
	background-color: bgColor.primary;
}

.background-secondary {
	background-color: bgColor.secondary;
}
