// -------------------------
// Main Header - Layout
// -------------------------


.main-footer {

    & {
        background-color: darken(light-color, 10%);
    }
    .copyright {
        color: darken(light-color, 25%);
        font-size: 16px;
        text-align: center;
    }
    
    svg {
        margin-right: base-space;
        vertical-align: middle;
        
        +below('s') {
            display: block;
            margin: 0 auto;
            margin-bottom: double-space;
        }
    }
}