// -------------------------
// Main Header - Layout
// -------------------------

.main-header {

    & {
        color: themes.primary-color;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 2;
        
        +above('m') {
            padding: double-space;            
        }
        
        +below('s') {
            padding: base-space;
        }
    }
}