// -------------------------
// Parallax - Layout
// -------------------------

.parallax-container {

    & {
    	position: relative;
        margin: 0 auto;
        min-height: 100vh;
        overflow: hidden;
        width: 100%;
    }
    
    > .parallax {
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        will-change: transform;
    }
    
    > .parallax > .image {
        background-image: url(/assets/images/parallax-banner.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        
        +below('s') {
            background-position: right center;
        }
    }
    
    > .parallax > .content {
        color: themes.primary-color;
        left: 50%;
        max-width: 600px;
        padding: double-space;
        position: absolute;
        
        +above('m') {
            top: 42%;
            transform: translateY(-50%);
        }
        
        +below('s') {
            text-align: center;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
    }
    
    > .parallax > .content > .title {
        @extends $titleMedium;
        font-size: responsive 30px 60px;
        margin: 0;
    }
    
    > .parallax > .content > .description {
        font-size: responsive 16px 20px;
        line-height: 1.4;
        margin: base-space 0 double-space;
        padding: 0 5px;
        
        +below('xs') {
            br {
                display: none;
            }
        }
    }
	
}