// -------------------------
// Products - Layout
// -------------------------

#products {
    & {
        padding: 40px 0;
    }
    .title {
        @extends $titleRegular;
        
        color: heading-color;
        font-size: responsive 16px 20px;
        text-align: center;
    }
    
    .products-carousel {
        overflow: hidden;
        padding: double-space 10px 40px;
    }
    
    .product-block {
        
        +above('xl') {
            lost-column: 1/4 0 20px;
        }
        
        +between('m', 'l') {
            lost-column: 1/2 0 20px;
        }
        
        +below('s') {
            lost-column: 1/1 0;
        }
    }
    
}