// -------------------------
// Products Filters - Layout
// -------------------------

#products-filters {
    
    & {
        align-items: center;
        border-bottom: 1px solid darken(light-color, 20%);
        display: flex;
        flex-wrap: nowrap;
        
        +below('l') {
            flex-direction: column;
        }
    }
    
    > .filter-group  + .filter-group {
        +above('xl') {
            margin-left: 60px;
        }
        
        +below('l') {
            margin: double-space 0;
        }
    }

    > .filter-group .checkbox + .checkbox {
        +above('xl') {        
            margin-left: triple-space;
        }
        
        +below('l') {
            margin-left: double-space;
        }
    }
    
    > .filter-group {
        font-size: responsive 14px 16px;
    }
    
    > .filter-group .category {
        color: dark-color;
        display: inline-block;
        font-family: "Rubik Medium";
        margin-right: base-space;
        text-transform: uppercase;
    }
    
    .btn-secondary {
        +above('xl') {  
            margin-left: auto;
        }
    }
}