extends /layouts/default

block vars
	- var page = "home"

block head
	link(rel="preload" href="/assets/images/parallax-banner.png")

block content
	
	section.background-primary
		include /includes/containers/parallax-banner
		
		include /includes/containers/products-filters
		
		include /includes/containers/products
	
	section.background-secondary
		include /includes/containers/about-us
