// -------------------------
// Buttons - Component
// -------------------------

$btn {
    appearance: none;
    border: none;
    border-radius: 50px;
    font-family: "Rubik Medium";
    font-size: 14px;
    min-width: 200px;
    outline: none;
    padding: 15px 25px;
    text-align: center;
    text-transform: uppercase;
}

[class*="btn"] {
    @extends $btn;
    
    &.-has-icon {
        padding: 10px 25px
        
        svg {
            height: 25px;
            margin: -3px 5px -6px -10px;
            width: 25px;
        }   
    }
}

.btn-primary {
    background-color: themes.primary-color;
    color: light-color;
}

.btn-secondary {
    background-color: themes.secondary-color;
    color: light-color;
}

