// -------------------------
// Checkbox - Component
// -------------------------


.checkbox {
    color: heading-color;
    display: inline-block;
    font-family: "Rubik Regular";
    text-transform: uppercase;
    user-select: none;

    > [type="checkbox"] {
        display: none;
    }
    
    > label {
        cursor: pointer;
        position: relative;
    }
    
    > label:before {
        background-color: light-color;
        border: 2px solid darken(light-color, 15%);
        border-radius: 3px;
        content: '';
        display: inline-block;
        height: 22px;
        margin-right: base-space;
        vertical-align: bottom;
        width: 22px;
    }
    
    > label:after {
        color: themes.secondary-color;
        content: '✔';
        font-size: 16px;
        left: 5px;
        line-height: 1.5;
        position: absolute;
        transform: scale(0);
        transition: transform .2s ease;
        will-change: transform;
    }
    
    > [type="checkbox"]:checked + label:after {
        transform: scale(1);
    }
}