// -------------------------
// Menu - Component
// -------------------------

.menu {
    
    & {
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        font-family: "Rubik Medium";
        font-size: base-font-size;
        justify-content: flex-end;
        margin: 0 auto;
        max-width: container-width;
        text-transform: uppercase;
        
        +below('s') {
            justify-content: space-around;
        }
    }
    
    > .item {
        cursor: pointer;
        padding: 10px 5px;
        position: relative;
    }
    
    > .item:not(:first-child) {
        +above('m') {
            margin-left: double-space;
        }
    }
    
    > .item:not(:first-child):not(:last-child) {
        
        &::after {
            background-color: themes.primary-color;
            content: "";
            display: block;
            height: 3px;
            opacity: 0;
            position: absolute auto 50% 0 auto;
            transform: translateX(50%);
            transition: opacity .4s ease, width .2s ease;
            width: 0;
            will-change: opacity, width;
        }
        
        &:hover::after {
            opacity: 1;
            width: 100%;
        }
    }
    
    > .item:first-child {
        margin-right: auto;
        
        +below('s') {
            display: none;
        }
    }
    
    > .item > a {
    
        &,
        &:active,
        &:focus {
            color: themes.primary-color;
        }
        
    }
    
    > .item .icon {
        height: 30px;
        width: 30px;
    }
}