// -------------------------
// Product Block - Component
// -------------------------
@require 'components/titles.styl';


.product-block {
    & {
        background-color: light-color;
        box-shadow: 0 0 0 transparent;
        padding: 15px;
        transition: box-shadow .4s ease;
        will-change: box-shadow;
    }
    
    > .header {
        @extends $titleBold;
        color: darken(light-color, 19%);
        font-size: 12px;
    }
    
    > .content {
        margin: 10px 0;
        text-align: center;
    }
    
    > .content > .price {
        color: dark-color;
        font-family: "Rubik Regular";
        font-size: responsive 16px 18px;
    }
    
    > .content > .description {
        color: heading-color;
        font-size: responsive 14px 16px;
    }
    
    > .extra {
        text-align: center;
        transition: opacity .4s ease;
        will-change: opacity;
        
        +above('xl') {
            opacity: 0;
        }
    }
    
    +above('xl') {
        &:hover {
            
            > .extra {
                opacity: 1;
            }
            
            & {
                box-shadow: 0 8px 20px 2px rgba(186, 186, 186, 1);
            }
        }
    }
}