// -------------------------
// Titles - Component
// -------------------------

$title {
    font-weight: normal;
    line-height: 1.2;
    text-transform: uppercase;
}

$titleRegular {
    @extends $title;
    font-family: "Rubik Regular";
}

$titleMedium {
    @extends $title;
    font-family: "Rubik Medium";
}

$titleBold {
    @extends $title;
    font-family: "Rubik Bold";
}